accelerate==0.19.0
datasets==2.12.0
einops==0.6.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl#sha256=0964370218b7e1672a30ac50d72cdc6b16f7c867496f1d60925691188f4d2510
fastapi==0.95.2
uvicorn==0.22.0
huggingface-hub==0.14.1
Jinja2==3.1.2
MarkupSafe==2.1.2
numpy==1.24.3
openai==0.27.7
pandas==2.0.1
protobuf==3.20.0
PyYAML==6.0
regex==2023.5.5
requests==2.30.0
responses==0.18.0
safetensors==0.3.1
scikit-learn==1.2.2
scipy==1.10.1
sentencepiece==0.1.99
spacy==3.5.3
spacy-legacy==3.0.12
spacy-loggers==1.0.4
tokenizers==0.13.3
torch==2.0.1
tqdm==4.65.0
transformers==4.29.2
triton==2.0.0
# triton-pre-mlir @ git+https://github.com/vchiley/triton.git@2dd3b957698a39bbca615c02a447a98482c144a3#subdirectory=python
# torch==2.0.1+cu117 @ https://download.pytorch.org/whl/torch_stable.html
